.catalog-main__title {
    color: @black-two;
    font-size: 36px;
    line-height: 60px;
    padding-top: 31px;
    padding-bottom: 35px;
    font-weight: normal;
}

.catalog__item {
    padding-top: 25px;
    padding-bottom: 25px;
}

.catalog__title {
    color: @black-two;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.catalog__table-value {
    font-family: Arial, sans-serif;
    color: @dark-grey;
    font-size: 12px;
    line-height: 16px;
}

.catalog__table-text {
    font-family: Arial, sans-serif;
    color: @dark-grey;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}
