.contacts {
    padding-top: 31px;
    padding-left: 19px;
}

.contacts__title {
    color: @black-two;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.contacts__description {
    font-family: Arial, sans-serif;
    color: @dark-grey;
    font-size: 14px;
    line-height: 20px;
}
