.contacts {
  padding-top: 12px;
  position: relative;
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 301px;
  padding-left: 19px;
  padding-bottom: 10px;
  z-index: 1;
}

.contacts__title {
  width: 123px;
  color: @black-two;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 19px;
}

.contacts__description {
  display: block;
  margin-top: 17px;
  width: 140px;
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  display: block;
  width: 320px;
  height: 464px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-top: 32px;
  }

  .contacts__address {
    margin-bottom: 20px;
    position: relative;
    width: 625px;
    padding-left: 0;
    padding-bottom: 21px;
  }

  .contacts__title {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
    margin-right: 305px;
  }

  .contacts__description {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts-city {
    display: block;
    margin-top: 21px;
  }

  .contacts__map {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .contacts__address {
    position: absolute;
    width: 494px;
    min-height: 133px;
    max-height: 200px;
    top: 95px;
    left: 22px;
    z-index: 1;
    transform: translateX(0);
    padding-left: 76px;
    padding-top: 47px;
    overflow-y: auto;
  }

  .contacts__map {
    width: 100%;
  }

  .contacts__title {
    margin-right: 90px;
  }

  .contacts__description {
    text-align: left;
  }
}
