.page-category {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.page-category__item {
  background-color: @light-grey;
  padding-top: 39px;
  padding-left: 21px;
  padding-right: 36px;
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.page-category__title {
  color: @black-two;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
}

.page-category__description {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  font-size: 14px;
  line-height: 18px;
}

.page-category__button {
  color: @black-two;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .page-category {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-category__item {
    width: 518px;
    padding-left: 52px;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .page-category__item:nth-child(2n+1) {
    margin-left: 80px;
  }
}
