.page-name {
  position: relative;
}

.page-name--index {
  background-image: linear-gradient(#63a73a 305px, white 305px);
}

.page-name--index .center-wrapper {
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 2px;
}

.page-name__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: white;
  text-align: center;
}

.page-name__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.page-name__img {
  margin-bottom: 1px;
}

@media (min-width: @tablet-width) {
  .page-name--index {
    min-height: 825px;
    background-image: none;
    padding-left: 90px;
  }

  .page-name--index .center-wrapper {
    background-image: none;
  }

  .page-name--index::before {
    content: "";
    position: absolute;
    width: 709px;
    height: 609px;
    top: 238px;
    left: 195px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    z-index: -1;
  }

  .page-name__title {
    display: block;
    font-size: 60px;
    line-height: 60px;
    color: black;
    text-align: left;
    margin-left: 44px;
    width: 430px;
  }

  .page-name__description {
    font-size: 20px;
    line-height: 20px;
    color: black;
    text-align: left;
    margin-left: 44px;
    margin-bottom: 44px;
  }

  .page-name__img {
    display: none;
  }

  .page-name__button {
    margin: 0;
    margin-left: 44px;
  }
}

@media (min-width: @desktop-width) {
  .page-name--index {
    min-height: 554px;
  }

  .page-name--index::before {
    content: "";
    position: absolute;
    width: 552px;
    height: 499px;
    top: 0;
    left: 370px;
    background-image: url("../img/index-can-desktop@1x.png");
    z-index: -1;
  }
}
