.page-header {
  min-height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  &--catalog-and-filter {
    border-bottom: 2px solid @light-grey;
  }
}

.page-header__logo {
  margin-top: 11px;
  width: 191px;
  height: 39px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__burger {
  width: 25px;
  height: 19px;
  background: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 23px;
  border: none;
  background-image: url("../img/mobile-menu.svg");
  cursor: pointer;

  &--opened {
    width: 19px;
    height: 19px;
    background: none;
    padding: 0;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 23px;
    border: none;
    background-image: url("../img/m-close.svg");
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 100%;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    min-height: 98px;

    &--catalog-and-filter {
      border-bottom: none;
    }
  }

  .page-header__logo {
    margin-top: 24px;

    img {
      width: 174px;
      height: 59px;
    }
  }

  .page-header__burger {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    z-index: 1;
    min-height: 142px;

    &--index {
      background-image: linear-gradient(to left, #63a73a 50%, white 50%);

      &::after {
        content: "";
        position: absolute;
        width: 720px;
        height: 696px;
        right: 0;
        background-image: url("../img/index-background-desktop@1x.jpg");
        z-index: 1;

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }
  }

  .page-header__logo {
    margin-top: 53px;

    img {
      width: 203px;
      height: 60px;
    }
  }
}
