.whole-catalog {
  padding-bottom: 25px;
}

.whole-catalog__title {
  color: @black-two;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.whole-catalog__description {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.whole-catalog__button {
  background-color: @light-grey;
  color: @dark-grey;
}

@media (min-width: @tablet-width) {
  .whole-catalog {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .whole-catalog {
    width: 245px;
  }
}
