.work__title {
  color: @black-two;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-top: 15px;
}

.work__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.work__item {
  color: @dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: @leaf;
    top: -2px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
  }

  &--leaf {
    &::after {
      background-image: url("../img/advantage-leaf@1x.png");
      top: 3px;
      left: 5px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::after {
      background-image: url("../img/advantage-powder@1x.png");
      top: 2px;
      left: 5px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--dining {
    &::after {
      background-image: url("../img/advantage-dining@1x.png");
      top: 3px;
      left: 4px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    margin-bottom: 10px;

    &::after {
      background-image: url("../img/advantage-clock@1x.png");
      top: 3px;
      left: 5px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  &--leaf::after,
  &--powder::after,
  &--dining::after,
  &--clock::after {
    width: 50px;
    height: 50px;
    background-size: 50px auto;
  }
}

@media (min-width: @tablet-width) {
  .work {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .work__title {
    font-size: 60px;
    margin-bottom: 74px;
  }

  .work__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .work__item {
    display: block;
    width: 245px;
    padding-left: 0;
    margin-bottom: 135px;
    padding-top: 110px;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n+1) {
      margin-right: 139px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &--leaf {
      &::after {
        top: 13px;
        left: 15px;
      }
    }

    &--powder {
      &::after {
        top: 13px;
        left: 15px;
      }
    }

    &--dining {
      margin-bottom: 102px;

      &::after {
        top: 13px;
        left: 15px;
      }
    }

    &--clock {
      margin-bottom: 102px;

      &::after {
        top: 13px;
        left: 15px;
      }
    }
  }

  .work__text {
    &--leaf::before,
    &--powder::before,
    &--dining::before,
    &--clock::before {
      display: block;
      position: absolute;
      color: @light-grey;
      font-family: "Oswald", "Tahoma", sans-serif;
      font-size: 281px;
      line-height: 281px;
      z-index: -1;
      top: -42px;
    }

    &--leaf {
      &::before {
        content: "1";
        left: 118px;
      }
    }

    &--powder {
      &::before {
        content: "2";
        left: 111px;
      }
    }

    &--dining {
      &::before {
        content: "3";
        left: 113px;
      }
    }

    &--clock {
      &::before {
        content: "4";
        left: 114px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .work__item {
    width: 242px;
    margin-right: 83px;
    margin-bottom: 126px;
  }

  .work__item:nth-child(2n+1) {
    margin-right: 83px;
  }

  .work__item:nth-child(4n) {
    margin-right: 0;
    width: 245px;
  }
}
